@charset "ISO-8859-1";
table {

	
}

table, th, td {
 
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
}
th {
  height: 20px;
   font-size: 20px;
  
}
.required{
      color:red;
}
h2 {
  font-family: courier;
    color:blue
   
}



