@charset "ISO-8859-1";

 
    h2 {
           	font-family: courier;
          
            color:blue
      
   
}
h3{
	font-family: courier;
	 text-align: center;
	 color:blue;
}
   .container {
 
     background-color: #ffff;
      padding: 80px;
}
.required{
      color:red;
}
P { 
	text-align: center;
    line-height: 2.8;
	text-align: center,
	line-height: 1.8;
	color:green;
	font-family: courier;
   font-size: 120%;
 }     
 

